@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceland&display=swap');

.iceland-regular {
    font-family: "Iceland", serif;
    font-weight: 400;
    font-style: normal;
}
.audiowide-regular {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}
  
  

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

header{
    background: rgb(241,26,30);
    background: linear-gradient(123deg, rgba(241,26,30,1) 0%, rgba(139,15,17,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

nav{
    padding: 4cqmin;
    height: 6vh;
    display: flex;
    align-items: center;
}
#githubLink{
    height: 100%;
    aspect-ratio: 1/1;
    background: url(img/githubDark.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#language{
    background: none;
    border: none;
    font-size:6vh;
    margin-left: auto;
}
#lightMode{
    margin-left: 3vh;
    background: url(img/sun.png);
    height: 90%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: 100%;
    border: 0;
}
#menuBar{
    margin-left: 3vh;
    background: url(img/menu.png);
    height: 110%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: 100%;
    border: 0;
}
header h1{
    color: white;
    margin-top: 15vh;
    text-align: center;
    font-size: clamp(15px, 12cqmin, 50px);
}
header h2{
    color: white;
    text-align: center;
    text-align:center;
    margin: 0 auto;
    margin-top: 5px;
    width: 80cqmin;
    font-size: clamp(12px, 4cqmin, 40px);
}
.headerShortCuts{
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}
.headerShortCuts a{
    text-decoration: none;
    color: white;
    font-size: clamp(20px, 4.5cqmin, 40px);
}
#about{
    margin-left: 4vw;
}

.blade{
    width: 100vw;
    margin-top: auto;
}
.bladeContainer{
    display: flex;
}
.bladeImg{
    width: 80%;
    aspect-ratio: 12/1;
}
.bladeContainer p{
    color: white;
    transform: rotate(90deg);
    width: max-content;
    height: min-content;
    font-size: clamp(16px, 4vw ,45px);
    margin: auto 5vw 1vw auto;
}

main{
    width: 100vw;
}
.projects{
    background: rgb(127,127,127);
    background: linear-gradient(180deg, rgba(127,127,127,1) 88%, #393939 100%);
    display: flex;
    flex-direction: column;
    padding-bottom: 8vh;
}
.projectsRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projects h1{
    color: white;
    width: 100vw;
    text-align: center;
    font-size: 5vw;
}
.projectsContainer{
    margin-top: 3vw;
    width: 30%;
    aspect-ratio: 8/10;
}
.projectImgLayout{
    border-radius: 2cqmin;
    border: solid 1px black;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectImgLayout img{
    width: 100%;
}
.projectsTags{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2cqmin;
    justify-content: center;
}
.languageTag{
    background-color: #D9D9D9;
    border-radius: 1cqmin;
    height: 1.3vw;
    padding: 1cqmin;
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: clamp(16px,1.3vw,30px);
    overflow: hidden;
}
.languageTag:hover{
    outline: solid 3px #8FBE9E;
    font-size: clamp(16px,1.4vw,30px);
}
.languageTag img{
    height: 100%;
    aspect-ratio: 1/1;
}
.projectsContainer h2{
    color: white;
    font-size: clamp(30px,4.5vw,100px);
    text-align: center;
    margin-top: 5px;
}
.projectTxt{
    color: white;
    text-indent: 2vw;
    font-size: clamp(16px,1.5vw,30px);
    text-align: center;
}

.about{
    height: 95vh;
    width: 100vw;
    background-color: #393939;
    background: url(img/Screenshot\ from\ 2025-03-10\ 16-29-30.png  );
}


@media(max-width:300px){
    .headerShortCuts{
        flex-direction: column;
    }
    #about{
        margin-left: 0;
        margin-top: 10px;
    }

    .bladeImg{
        aspect-ratio: 7/1;
    }
}

@media(max-width:500px){
    .projectsRow{
        flex-direction: column;
    }
    .projectsContainer{
        width: 80%;
    }
}

